<div id="archive">
  <% if (is_archive()) { %>
    <!--if page.month
      h2 Archives: #{page.month}/#{page.year}
    else if page.year
      h2 Archives: #{page.year}
    else
      h2 Archives-->
  <% } else if (is_tag()) { %>
    <h1>Tag:</h1>
    <h2 class=""># <%- page.tag %></h2>
  <% } else if (is_category()) { %>
    <h1>Category:</h1>
    <h2 class="ar-category-title"><%- page.category %></h2>
  <% } %>
  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% page.posts.sort('date', 'desc').each(function(post) { %>
      <!--<% var itemYear = date(post.date, 'YYYY') - 0 %>-->
      <!--<% change = year !== itemYear %>-->
      <!--<% year = change ? itemYear : year %>-->
      <!--<% if (change) { %>-->
        <!--<h2 class="ca-year"><%= year %></h2>-->
      <!--<% } %>-->
      <%- partial('_partial/archive-post', {post: post, index: true, showCategory: is_archive()}) %>
    <!--<% }); %>-->
  </ul>
  <%- partial('_partial/pagination') %>
</div>
