<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/category', { post: page }) %>
    <%- partial('_partial/post/date', { post: page, class_name: 'meta', date_format: 'MMM D, YYYY' }) %>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>

<div class="post-meta">
  <ul>
    <li>
      Written by
      <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </div>
    </li>
    <li>
      Published on
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate', date_format: 'MMM D, YYYY' }) %>
    </li>
    <li>
      Tags of post
      <%- partial('_partial/post/tag') %>
    </li>
  </ul>
</div>

<% if (related_posts(page, theme.related_posts).length) { %>
<section class="related-posts">
  <h3>Related posts</h3>
  <div class="related-posts__item__wrapper">
  <% related_posts(page, theme.related_posts).map(function (post) { %>
      <a class="related-posts__item" href="<%- url_for(post.path) %>">
        <div class="related-posts__item__background" style=" background-image: url(<%- bannerOf(post) || theme.default.url %>)">
          <div class="related-posts__item__overlay">
            <span class="related-posts__item__title"><%- post.title || 'Untitled' %></span>
          </div>
        </div>
      </a>
  <%})%>
  </div>
</section>
<% } %>

<%- partial('_partial/comments') %>